@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
<<<<<<< HEAD
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dodavanje novog auta</title>
        <style>
            body {
                background-color: #e0e0e0;
            }
            .container { 
                display: flex;
            }

            .lijevi-dio, .desni-dio {
                flex: 1; 
                padding: 8rem; 
                background-color: #f0f0f0;
            }
              
           
            button {
                background-color: rgba(51, 51, 51, 0.15);
                border-radius: 8px;
                border-width: 0;
                color: #333333;
                cursor: pointer;
                display: inline-block;
                font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                list-style: none;
                margin: 0;
                padding: 10px 12px;
                text-align: center;
                transition: all 200ms;
                vertical-align: baseline;
                white-space: nowrap;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                transition-duration: 0.3s;
                margin: 0.5rem;
            }

            button:hover {
                    background-color: rgba(51, 51, 51,0.5);
                color: white;
            }
            
        </style>
    </head>
    <body>
    <button>Nazad</button>
        <div class="container">
            <div class="lijevi-dio">
                <label for="images">Uploaduj sliku/e:</label>
                <input type="file" id="images" name="images" multiple><br>
            </div>
            <div class="desni-dio">
                <label for="make">Marka automobila:</label>
                <input type="text" id="make" name="make"><br>
                <label for="model">Model automobila:</label>
                <input type="text" id="model" name="model"><br>
                <label for="specs">Detaljne specifikacije automobila:</label>
                <textarea id="specs" name="specs" rows="10" cols="30"></textarea><br>
                <button type="submit">Dodaj</button>
            </div>
        </div>
    </body>
    </html>
=======
    
>>>>>>> 75f909451db2a81f2a323ccae39eed7ba6757a42
}
